[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
numpy = "*"
Pillow = "*"
mediapipe = "*"
pyzbar = "*"
Flask = "3.1.2"
[dev-packages]

[requires]
python_version = "3.11"
